# Copy this file to .env and change values if needed.
PORT=4000
DATABASE_URL="postgresql://mdarj:mdarj@localhost:5432/mdarj?schema=public"

# Demo Admin created by `pnpm db:seed`
SEED_ADMIN_EMAIL="admin@demo.mdarj.test"
SEED_ADMIN_PASSWORD="ChangeMe123!"
